<!DOCTYPE HTML>
<!--[if lt IE 7]> <html class="lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]> <html class="lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]> <html class="lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<title><%= game_name %></title>
	<link rel="stylesheet" href="css/main.css">
</head>
<body>
	<div id="game_div"></div>
	
	<script src="src/libs/phaser.min.js"></script>
	<script src="src/states/gameBoot.js"></script>
	<script src="src/states/gameMenu.js"></script>
	<script src="src/states/gamePlay.js"></script>
	<script src="src/states/gameOver.js"></script>
	<script src="src/main.js"></script>
</body>
</html>